<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xixicm.de"
          android:sharedUserId="com.xixicm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".DEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".presentation.view.appwidget.DEAppWidgetUpdateService"/>
        <receiver android:name=".presentation.view.appwidget.DEAppWidgetProvider41">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info_4_1"/>
        </receiver>
        <receiver android:name=".presentation.view.appwidget.DEAppWidgetProvider51">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info_5_1"/>
        </receiver>
        <service android:name=".infrastructure.service.DEFetchService"/>
        <receiver android:name=".infrastructure.receiver.DEFetchReceiver">
            <intent-filter>
                <!-- CONNECTIVITY_CHANGE does not work on N-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
